.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	/* min-height: 100vh; */

	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	font-size: calc(10px + 2vmin);
	color: white;
}
.title {
	float: right;
}
.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.footer {
	width: 100%;
	height: 60px;
	background-color: black;
	text-align: center;
	color: white;
	position: fixed;
	bottom: 0;
	padding-top: 17px;
}

.headerul li {
	text-decoration: none;
	float: left;
	margin-right: 20px;
}
.headerul {
	margin-left: 30px;
	margin-top: 20px;
}
.headerul_sec {
	margin-left: 600px;
	margin-top: 20px;
}
.headerul_sec li {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.fixed-header {
	top: 0;
	width: 100%;
}

.logout li {
	text-decoration: none;
}

.admin-header {
	padding: 10px;
}
.admlg {
	margin-left: 5px;
	align-items: center;
}
.logout {
	margin-left: 20px;
}

.crd {
	margin-top: 0px;
}
